<!DOCTYPE html>
<html>
<head>
  
</head>

<TITLE>KAITT</TITLE>
<!-- <script src='/socket.io/socket.io.js'></script> -->
<script src="https://code.createjs.com/soundjs-0.6.2.min.js"></script>
<script>
// let socket = io();

// socket.on('redirect-to-map', function(msg) {
//   window.open('/sound');
//   // window.location.href = '/map';
// });

let soundID = "Knight_Rider"; 
function loadAndPlaySound () {
  	createjs.Sound.registerSound("assets/Knight_Rider.mp3",soundID);
	createjs.Sound.play(soundID);
  }
</script>

<!-- <link href='/kstyle.css' rel='stylesheet' type='text/css'> -->

</HEAD>
<body onload="loadAndPlaySound();">
<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBzyIRULxC_djz_KWQZyPqCa4nDTVt9KTI&origin=42.3671418,-71.1023466,16z&destination=Massachusetts+General+Hospital" allowfullscreen></iframe>

<!-- <body onload="loadAndPlaySound();">
 <h1>K.AI.T.T. Emergency Activated</h1>
 <button onclick="playSound();" class="playSound">Play Sound</button> -->
</body>
</html>
